


<div class="row">
  <div class="col-sm-6">
    <h1>Discussions</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_discussion_path, class: 'btn btn-primary' do %>
    Add New Discussion
  <% end %>
  </div>
</div>


<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <tbody>
      <% @discussions.each do |discussion| %>
        <%= content_tag :tr, id: dom_id(discussion), class: dom_class(discussion) do %>
          <td><%= image_tag avatar_path(discussion.user), class:"rounded-circle", height: 40, width: 40 %>
          <%= discussion.user.name %></td>
          <td><%= discussion.title %></td>
          <td>Post <%= discussion.posts.count %></td>                   
          <td><%= link_to 'Show', discussion, class: "btn btn-primary"%></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
$("tr[data-link]").click(function() {
  window.location = $(this).data("link")
})
</script>